- if (error)
  #error= error

form(method="POST")
  label(for="id") ID Field
  input(type='textfield', name="id")
  br

  label(for="name") Name
  input(type='textfield', name="name")
  br

  label(for="occupation") Occupation
  input(type='textfield', name="occupation")
  br

  input(type="submit")

